{% extends 'layout.html' %}

{% block body_block %}
    <div class="bg-image position-relative" style="background-image: url({{ url_for('static', filename='Background.jpg') }});">
        <div class="overlay overlay-dark"></div> <!-- Add Bootstrap overlay classes -->
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            {% include '_messages.html' %}
                            <h1 class="text-center mb-4">Customer Login</h1>
                            <form method="POST" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <div class="mb-3">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="d-grid">
                                    <input type="submit" value="Login" class="btn btn-primary">
                                    <a href="{{ url_for('register', user_type='customer') }}" class="btn btn-secondary mt-2">
                                        Sign-up
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}

